
html , header{
  color-scheme: dark !important;
    background-color: #191b1c !important;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  /*************************nav bar style **********************/

  
header{
  display: flex;
  padding: 0 1%;
  justify-content: space-around;
  background-color: #f7f7f8;
  
}

.main-nav{
    display: flex;
    padding: 10px;
    column-gap: 40px;

}

.main-nav a{
  font-size: 20px;
  color: white;
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.15s;
}
.main-nav a:hover{
color: blueviolet;
}
.main-nav a:active{
  opacity: 0.5;
}
  /*.main-nav{
      background-color: #f7f7f8;
      padding: 10px;
  
  }
  .main-nav a{
      font-size: 20px;
      color: #3d414a ;
      text-decoration:none;
      font-family: Arial, Helvetica, sans-serif;
      transition: opacity 0.15s;
  }
  .main-nav a:hover{
    color: blueviolet;
    opacity: 0.8;
  }*/
  
  form{
    width: 400px;
    background-color: #2e2642;
    border:  #3c404a38;
    border-radius: 10px;
    color:#d0c9e2;
    padding: 20px;
   
    margin: 50px auto;
  }
  .field{
    width: 95%;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;

  }
  .signupbutton{
    background-color: rgba(26, 35, 211, 0.74);
    color: white;
    border: none;
    width: 270px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    margin: auto;
    transition: opacity 0.15s;
 
    }
    .signupbutton:hover{
      opacity: 0.8;
    }
    .signupbutton:active{
      opacity: 0.5;
    }